var Handlebars = require("../../../node_modules/handlebars/runtime.js");
function __default(obj) { return obj && (obj.__esModule ? obj["default"] : obj); }
module.exports = (Handlebars["default"] || Handlebars).template({"compiler":[7,">= 4.0.0"],"main":function(container,depth0,helpers,partials,data) {
    var stack1, helper, alias1=container.lambda, alias2=container.escapeExpression, alias3=depth0 != null ? depth0 : (container.nullContext || {}), alias4=helpers.helperMissing, alias5="function";

  return "<div id=\"ally-instructor-feedback-iframe\" class=\"ally-iframe-mask\" role=\"dialog\"\n     aria-label=\""
    + alias2(alias1(((stack1 = (depth0 != null ? depth0.i18n : depth0)) != null ? stack1.INSTRUCTOR_FEEDBACK : stack1), depth0))
    + "\">\n    <div id=\"ally-instructor-feedback-iframe-start\" tabindex=\"0\" aria-hidden=\"true\"></div>\n    <img tabindex=\"-1\" src=\""
    + alias2(((helper = (helper = helpers.ALLY_DOMAIN || (depth0 != null ? depth0.ALLY_DOMAIN : depth0)) != null ? helper : alias4),(typeof helper === alias5 ? helper.call(alias3,{"name":"ALLY_DOMAIN","hash":{},"data":data}) : helper)))
    + alias2(alias1(((stack1 = (depth0 != null ? depth0.images : depth0)) != null ? stack1.loading : stack1), depth0))
    + "\"\n         title=\""
    + alias2(alias1(((stack1 = (depth0 != null ? depth0.i18n : depth0)) != null ? stack1.LOADING_INSTRUCTOR_FEEDBACK_PLEASE_WAIT : stack1), depth0))
    + "\"\n         alt=\""
    + alias2(alias1(((stack1 = (depth0 != null ? depth0.i18n : depth0)) != null ? stack1.LOADING_INSTRUCTOR_FEEDBACK_PLEASE_WAIT : stack1), depth0))
    + "\" />\n    <button class=\"ally-iframe-close\">\n        <img src=\""
    + alias2(((helper = (helper = helpers.ALLY_DOMAIN || (depth0 != null ? depth0.ALLY_DOMAIN : depth0)) != null ? helper : alias4),(typeof helper === alias5 ? helper.call(alias3,{"name":"ALLY_DOMAIN","hash":{},"data":data}) : helper)))
    + alias2(alias1(((stack1 = ((stack1 = (depth0 != null ? depth0.images : depth0)) != null ? stack1.materialIcons : stack1)) != null ? stack1.close : stack1), depth0))
    + "\" title=\""
    + alias2(alias1(((stack1 = (depth0 != null ? depth0.i18n : depth0)) != null ? stack1.CANCEL : stack1), depth0))
    + "\"\n             alt=\""
    + alias2(alias1(((stack1 = (depth0 != null ? depth0.i18n : depth0)) != null ? stack1.CANCEL : stack1), depth0))
    + "\" />\n    </button>\n    <div id=\"ally-instructor-feedback-iframe-end\" tabindex=\"0\" aria-hidden=\"true\"></div>\n    <iframe title=\""
    + alias2(alias1(((stack1 = (depth0 != null ? depth0.i18n : depth0)) != null ? stack1.INSTRUCTOR_FEEDBACK : stack1), depth0))
    + "\" class=\"ally-iframe\" src=\""
    + alias2(((helper = (helper = helpers.ALLY_DOMAIN || (depth0 != null ? depth0.ALLY_DOMAIN : depth0)) != null ? helper : alias4),(typeof helper === alias5 ? helper.call(alias3,{"name":"ALLY_DOMAIN","hash":{},"data":data}) : helper)))
    + "/instructorfeedback?locale="
    + alias2(((helper = (helper = helpers.locale || (depth0 != null ? depth0.locale : depth0)) != null ? helper : alias4),(typeof helper === alias5 ? helper.call(alias3,{"name":"locale","hash":{},"data":data}) : helper)))
    + "\"></iframe>\n</div>\n";
},"useData":true});