var Handlebars = require("../../../../../../../node_modules/handlebars/runtime.js");
function __default(obj) { return obj && (obj.__esModule ? obj["default"] : obj); }
module.exports = (Handlebars["default"] || Handlebars).template({"compiler":[7,">= 4.0.0"],"main":function(container,depth0,helpers,partials,data) {
    var stack1, helper, alias1=container.escapeExpression;

  return "<a\n    href=\"#\"\n    data-ally-content-ref=\""
    + alias1(((helper = (helper = helpers.contentRef || (depth0 != null ? depth0.contentRef : depth0)) != null ? helper : helpers.helperMissing),(typeof helper === "function" ? helper.call(depth0 != null ? depth0 : (container.nullContext || {}),{"name":"contentRef","hash":{},"data":data}) : helper)))
    + "\"\n    data-ally-invoke=\"alternativeformats\"\n    data-ally-show=\"alternativeformats\"\n    data-ally-show-display=\"inline-block\"\n    data-ally-tooltip title=\""
    + alias1(container.lambda(((stack1 = (depth0 != null ? depth0.i18n : depth0)) != null ? stack1.ALTERNATIVE_FORMATS : stack1), depth0))
    + "\"\n    aria-haspopup=\"true\"\n    class=\"ally-prominent-af-download-button\">\n</a>\n";
},"useData":true});