var Handlebars = require("../../../../../node_modules/handlebars/runtime.js");
function __default(obj) { return obj && (obj.__esModule ? obj["default"] : obj); }
module.exports = (Handlebars["default"] || Handlebars).template({"compiler":[7,">= 4.0.0"],"main":function(container,depth0,helpers,partials,data) {
    var stack1, helper, alias1=container.lambda, alias2=container.escapeExpression;

  return "<div class=\"ally-image-seizure-guard\">\n    <button title=\""
    + alias2(alias1(((stack1 = (depth0 != null ? depth0.i18n : depth0)) != null ? stack1.POTENTIALLY_SEIZURE_INDUCING_ANIMATION_PRESS_TO_ENABLE : stack1), depth0))
    + "\">\n        <img src=\""
    + alias2(((helper = (helper = helpers.ALLY_DOMAIN || (depth0 != null ? depth0.ALLY_DOMAIN : depth0)) != null ? helper : helpers.helperMissing),(typeof helper === "function" ? helper.call(depth0 != null ? depth0 : (container.nullContext || {}),{"name":"ALLY_DOMAIN","hash":{},"data":data}) : helper)))
    + "/"
    + alias2(alias1(((stack1 = (depth0 != null ? depth0.icons : depth0)) != null ? stack1.seizureFlag : stack1), depth0))
    + "\" />\n    </button>\n</div>\n";
},"useData":true});